<p>
  polygonlist works!
</p>
<div #mapElement id="map" class="map"></div>
<!--<h2>Farm List</h2>
<div *ngFor="let f of farms">
  <br>
  id: {{f.id}}
  <br>
  unitsHa: {{f.unitsHa}}
  <br>
  calciumValue: {{f.calciumValue}}
  <br>
  calciumPerHa: {{f.calciumPerHa}}
  <br>
  sulfurValue: {{f.sulfurValue}}
  <br>
  sulfurPerHa: {{f.sulfurPerHa}}
  <br>
  NitrogenValue: {{f.NitrogenValue}}
  <br>
  NitrogenPerHa: {{f.NitrogenPerHa}}
  <br>
  phosphorusValue: {{f.phosphorusValue}}
  <br>
  phosphorusPerHa: {{f.phosphorusPerHa}}
  <br>
  potassiumValue: {{f.potassiumValue}}
  <br>
  potassiumPerHa: {{f.potassiumPerHa}}
  <br>
  {{f.geometry}}
  <br>
</div>-->

